/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color:#000;
}
/*
 * Global add-ons
 */

 /*
 general links
 */

 /*
 for webservice on uploaduser.jsp
 */

.webserv > a:hover,
.webserv > a:focus {
    color: #5C9610;
    text-decoration: none;
  }

 a {
     color: #000;
     text-decoration: none;
 }

 a:hover,
 a:focus {
   color: #000;
   text-decoration: none;
 }

 /*
 titre application
 */
 #titre_appli {
   font-size: 20px;
   margin:0;
   padding-right:15px;
   padding-top: 10px;
   padding-left: 15px;

 }

/*
barre de recherche utilisateur
*/

.rechercheUser {
  margin-top:6em;
  border-bottom:1px solid #eee;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
boutons des préférences
*/
.boutonPref {
  margin-top: 25px;
}
/*
PAGE ACCUEIL
*/
@media (min-width: 992px) {
.index {
  margin-left: 10%;
}
.authentification {
  margin-left: 28%;
}
}

.panel-primary {
  color:#000;
  border:#eee;
}
.panel-heading {
  border-radius: 3px 3px 3px 3px;
  margin-top: 5em;
  padding-top: 5em;
  padding-bottom :5em;
  text-align: center;
  color:#000;
}

.panel-heading > a {
  font-size :30px;
  font-weight: bold;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  color : #000;
  text-decoration: none;
  padding:0px;
}

.panel-heading  > a:hover,
.panel-heading  > a:focus {
  background-color: #f5f5f5;
  color: #5C9610;
  text-decoration: none;
  text-align: center;
  padding:0px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
  background-color: #ADCA87;
  color : #000;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/*
special sidebar for users.jsp
*/
@media (min-width: 768px) {
  #sidebarUser {
    position: fixed;
    top: 215px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  color : #000;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color : #000;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #eee;
  color: #5C9610;
  /*background-color: #5C9610;/*remplacé par du vert TSIG*/
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  .page-header {
    margin-top: 50px;
  }
}



/*
crée un style différent du bouton de validation des formulaire

.btn-default:hover {
    color: #fff;anciennement 333;
    background-color: #ADCA87;
    border-color: #adadad;
}
*/

/*
page d'accueil
*/

.panel-primary {
  border-color: #adadad;
}
.panel-primary > .panel-heading {
  background-color: #f5f5f5;
  border : 1px solid #eee;
  color:#000;


/*
 * Placeholder dashboard ideas


.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
} */
