/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color:#000;
}
/*
 * Global add-ons
 */

 /*
 general links
 */

 /*
 for webservice on uploaduser.jsp
 */
.webserv {
  list-style: none;
  padding-left: 0px;
  word-wrap: break-word;
}

.webserv > a:hover,
.webserv > a:focus {
    color: #5C9610;
    text-decoration: none;
    word-wrap: break-word;
  }

 a {
     color: #000;
     text-decoration: none;
 }

 a:hover,
 a:focus {
   color: #000;
   text-decoration: none;
 }

 /*
 titre application
 */
 #titre_appli {
   font-size: 20px;
   margin:0;
   padding-right:15px;
   padding-top: 10px;
   padding-left: 15px;

 }

/*
barre de recherche utilisateur


.rechercheUser {
  margin-top:6em;
  border-bottom:1px solid #eee;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}*/

/*
boutons des préférences
*/
.boutonPref {
  margin-top: 25px;
}
/*
PAGE ACCUEIL
*/
@media (min-width: 992px) {
.index {
  margin-left: 10%;
}
.authentification {
  margin-left: 28%;
}
}

/*taille de la carte selon écran*/
@media (min-width : 320px) and (max-width: 450px) {

  #map{
    margin-left:10%;
    margin-right:5%;
    width:300px;
    height:200px;
    border:6px solid #000;
  }
}

@media (min-width : 451px) and (max-width: 600px) {

  #map{
    margin:auto;/*margin-left:12%;*/
    width:350px;
    height:250px;
    border:6px solid #000;
  }
}


@media (min-width : 601px) and (max-width: 700px) {

  #map{
    margin:auto;/*margin-left:15%;*/
    width:400px;
    height:300px;
    border:6px solid #000;
  }
}

@media (min-width : 701px) and (max-width: 767px){

  #map{
    margin:auto;/*margin-left:15%;*/
    width:450px;
    height:350px;
    border:6px solid #000;
  }
}

@media (min-width : 768px) and (max-width: 850px){

  #map{
    margin:auto;/*margin-left:3%;*/
    width:500px;
    height:400px;
    border:6px solid #000;
  }
}

@media (min-width : 851px) and (max-width: 900px){

  #map{
    margin:auto;/*margin-left:3%;*/
    width:550px;
    height:420px;
    border:6px solid #000;
  }
}


@media (min-width : 901px) and (max-width: 1020px){

  #map{
    margin:auto;/*margin-left:8%;*/
    width:550px;
    height:420px;
    border:6px solid #000;
  }
}

@media (min-width : 1021px) {

  #map{
    margin:auto;/*margin-left:15%;*/
    width:700px;
    height:500px;
    border:6px solid #000;
  }
}


.panel-primary {
  color:#000;
  border:#eee;
}
.panel-heading {
  border-radius: 3px 3px 3px 3px;
  margin-top: 5em;
  padding-top: 5em;
  padding-bottom :5em;
  text-align: center;
  color:#000;
}

.panel-heading > a {
  font-size :30px;
  font-weight: bold;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  color : #000;
  text-decoration: none;
  padding:0px;
}

.panel-heading  > a:hover,
.panel-heading  > a:focus {
  background-color: #f5f5f5;
  color: #5C9610;
  text-decoration: none;
  text-align: center;
  padding:0px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
  background-color: #ADCA87;
  color : #000;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/*
special sidebar for users.jsp
*/
@media (min-width: 768px) {
  #sidebarUser {
    position: fixed;
    top: 215px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  color : #000;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color : #000;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #eee;
  color: #5C9610;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  .page-header {
    margin-top: 50px;
  }
}

/*
page d'accueil
*/

.panel-primary {
  border-color: #adadad;
}
.panel-primary > .panel-heading {
  background-color: #f5f5f5;
  border : 1px solid #eee;
  color:#000;
